.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--size-small);
  background-color: #74cb48;
  width: 300px;
  height: 400px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-base);
  padding-bottom: 0;
}

h1 {
  color: var(--color-cardInfoColor);
  font-weight: bold;
  font-size: var(--size-nameSize);
}
h2 {
  font-weight: bold;
  color: var(--color-cardInfoColor);
  font-size: var(--size-numberSize);
}

.cardData {
  border-radius: var(--size-small);
  background-color: var(--color-cardDataBackground);
  margin: var(--size-xtiny);
  height: 240px;
}
