.card {
  border-radius: 12px;
  background-color: #74cb48;
  width: 300px;
  height: 400px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  padding: var(--size-m);
}

h1 {
  color: white;
}
h2 {
  color: white;
}
