.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--size-small);
  background-color: #74cb48;
  width: 300px;
  height: 400px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-base);
  padding-bottom: 0;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: var(--size-nameSize);
}
h2 {
  font-weight: bold;
  color: white;
  font-size: var(--size-numberSize);
}
h5 {
  color: grey;
}

.cardData {
  border-radius: var(--size-small);
  background-color: white;
  margin: var(--size-xtiny);
}

.types {
  display: flex;
  justify-content: center;
  gap: var(--size-mini);
  margin-top: var(--size-mini);
  margin-bottom: var(--size-mini);
}

.type {
  color: white;
  font-weight: bold;
  border-radius: var(--size-small);
  padding: var(--size-tiny);
  padding-top: var(--size-xxtiny);
  padding-bottom: var(--size-xxtiny);
}

.grassType {
  background-color: var(--grass-color);
}
.poisonType {
  background-color: var(--poison-color);
}
.about {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #74cb48;
  margin-top: var(--size-mini);
  margin-bottom: var(--size-mini);
}
.specs {
  display: flex;
  flex-direction: row;
  gap: var(--size-large);
  justify-content: center;
}

.specs__image {
  height: var(--size-mini);
  width: var(--size-mini);
}

.weight {
  display: flex;
  flex-direction: column;
  gap: var(--size-tiny);
}

.height {
  display: flex;
  flex-direction: column;
  gap: var(--size-tiny);
}
.divider {
  background-color: lightgrey;
  width: 1px;
}

.description {
  font-size: var(--size-small);
  padding: var(--size-base);
}
