:root {
  font-family: "Poppins", sans-serif;
  --size-xtiny: 4px;
  --size-tiny: 8px;
  --size-small: 12px;
  --size-mini: 16px;
  --size-base: 24px;
  --size-medium: 32px;
  --size-large: 48px;
  --size-nameSize: 24px;
  --size-numberSize: 16px;
  --color-cardInfoColor: white;
  --color-cardDataBackground: white;
}
